body{background:#fa4949!important;color:#fff!important;font-family:'Roboto',sans-serif!important}
#heading-wrapper-hadi,#main-wrapper-hadi,#footer-hadi{display:none}
.isi404{margin:8% auto 0 auto;max-width:768px;min-width:200px;line-height:normal;font-size:16px;transition:all .3s;/* backface-visibility:hidden;*/}
.kotak404{padding:20px;font-size:110%;color:#fff}
.kotak404 h2,.kotak404 h3{color:#fff;display:block;font-weight:700;font-size:2.6rem;text-transform:uppercase}
.kotak404 h2{position:absolute;font-size:20rem;color:rgba(255,255,255,0.30);transform:rotate(-45deg);right:3%;bottom:8%}
.isi404 hr{background:transparent;display:block;border:none;border-bottom:4px solid rgba(255,255,255,.3)}
.kotak404 p{display:block;margin:10px 0}
.kotak404 ul li{margin:0 0 8px 20px;list-style:initial;list-style-type:square}
.kotak404 ul li a{color:#e5ffaf}
.box404 ul li a:hover{background:rgba(0,0,0,0.1);color:#e5ffaf;text-decoration:none!important}
.copyright404{display:block;margin:auto;font-weight:normal;max-width:768px;min-width:200px;padding:0 20px}
.copyright404 a,.copyright404 a:hover{color:#fff;text-decoration:none!important}
@media screen and (max-width:1024px){.kotak404 h2{font-size:10rem}.isi404{margin:4% auto 0 auto}}
@media screen and (max-width:640px){.kotak404 h3{font-size:1.6rem}.kotak404 h2{display:none}}
